## Iteration: Automating steps with for-loops

Repeating a single action for each item in a sequence is often done using a for-each-loop:

```python
pets = ["Rabbit", "Dog", "Cat"]
for pet in pets:
  print("I have a {}".format(pet))
```

To get used to for-loops in Python, let's use this pattern for the following exercises:

1. Print each City's name, one at a time:

In [2]:
cities = ["Beijing", "New York City", "Tel Aviv", "Paris", "Istanbul", "Rome", "Berlin"]

In [3]:
for city in cities:
    print('This is the city {}'.format(city))

This is the city Beijing
This is the city New York City
This is the city Tel Aviv
This is the city Paris
This is the city Istanbul
This is the city Rome
This is the city Berlin

  2. Print the number of each type of nucleotide in this sequence:

In [4]:
seq = "AUCGGUUCGAAGCUUAGCGCA"

In [10]:
a_num, u_num, c_num, g_num = (0, 0, 0, 0)
for i_acid in seq:
    if i_acid == 'A':
        a_num += 1
    elif i_acid == 'U':
        u_num += 1
    elif i_acid == 'C':
        c_num += 1
    else:
        g_num += 1
    
print('A {}'.format(a_num))
print('U {}'.format(u_num))
print('C {}'.format(c_num))
print('G {}'.format(g_num))

A 5
U 5
C 5
G 6

In [39]:
def seq_count(sequence, nucleotide):
    nu_count = sequence.count(nucleotide)
    print str(nucleotide), nu_count
    print '------'

for nucleo in ['A', 'U','C', 'G']:
    seq_count(seq, nucleo)

A 5
------
U 5
------
C 5
------
G 6
------

 3. Print the numbers 10 through 15, one at a time. (*Hint*: the range() function)

## Building a New List from an Old One

Repeating a single action for each item in a sequence is often followed by repeatedly-appending a new item to an empty list inside a for-loop.  This append pattern looks like this:

```python
new_list = []
for item in old_list:
  new_item = item * 2
  new_list.append(new_item)
```

To get used to for-loops in Python, let's use this pattern for the following exercises:

### Exercises

**Without using Numpy:**

1. Using iteration, how could I capitalize the first letter of each of my friends' names?

In [18]:
friends = ['joe', 'gina', 'mehtap', 'michael', 'peter', 'evgeny']

In [40]:
new_friends = []
for friend in friends:
    friend = friend.capitalize()
    new_friends.append(friend)
new_friends

['Joe', 'Gina', 'Mehtap', 'Michael', 'Peter', 'Evgeny']

In [41]:
map(lambda x: x.capitalize(), friends)

['Joe', 'Gina', 'Mehtap', 'Michael', 'Peter', 'Evgeny']

2. Split this list of cities into a list (e.g. the str.split() method), then capitalize each of the cities' names.

In [5]:
capitals = 'paris beijing rabat'
capitals.split()

['paris', 'beijing', 'rabat']

3. Convert the following list of volumes (measured in milliliters) to liters

In [6]:
volumes_mm = [342, 267, 887, 157, 17, 223]

3. The **str()** function turns numbers into strings.  Make a list of strings representing the values from 3 to 10 (i.e. ['3', '4', '5', ...]).

4. The **float()** function turns objects into ints.  Make a list of floats from the following list:

In [11]:
mixed_data = ['3', 3.1, '4', 4.9]


## List Comprehensions

All of the previous exercises can be done in a single line, using a **"List comprehension"**:

```python
new_list = [item * 2 for item in old_list]
```
This syntax has the advantage of being more concise when doing simple tasks.  Let's try it with the following exercises:

1. Using iteration, how could I capitalize the first letter of each of my friends' names?

In [ ]:
friends = ['joe', 'gina', 'mehtap', 'michael', 'peter', 'evgeny']

In [27]:
[friend.capitalize() for friend in friends]

['Joe', 'Gina', 'Mehtap', 'Michael', 'Peter', 'Evgeny']

2. Split this list of cities into a list (e.g. the str.split() method), then capitalize each of the cities' names.

In [5]:
capitals = 'paris beijing rabat'
capitals.split()

['paris', 'beijing', 'rabat']

3. Convert the following list of volumes (measured in milliliters) to liters

In [6]:
volumes_mm = [342, 267, 887, 157, 17, 223]

3. The **str()** function turns numbers into strings.  Make a list of strings representing the values from 3 to 10 (i.e. ['3', '4', '5', ...]).

4. The **float()** function turns objects into ints.  Make a list of floats from the following list:

In [11]:
mixed_data = ['3', 3.1, '4', 4.9]

## Extra Exercises: The range, zip, and enumerate functions

The **range()** function generates a sequence of integers:

In [14]:
for num in range(4):
    print(num)

0
1
2
3

1. Calculate the square of each of the integers between 0 and 30.

In [32]:
[num for num in range(31)]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

The **zip()** function turns takes multiple lists and turns them into one list of multiples,
letting you iterate over multiple lists at the same time.

In [15]:
for greeting, name in zip(['Hi', 'Bye'], ['Judy', 'Cody']):
  print(greeting, name)

Hi Judy
Bye Cody

1. Make a new list that is the sum of the elements in listA and listB.

In [2]:
lista = [2, 3, 4, 5, 0, 0, 0, 2, 2, 0]
listb = [0, 4, 2, 4, 5, 1, 0, 5, 3, 5]

2. I have a list of dogs and a list of owners.  How do I print their names together (e.g. "Eric: Pongo")?

In [16]:
dogs = ['Snuffles', 'Pongo', 'Stripes']
owners = ['Jerry', 'Caro', 'Sean']

## Extra Extra: Dictionaries

Dictionaries (or "dicts" in Python talk) are collections like lists, but instead of representing a **sequence** of values, they instead represent a **mapping** of key-value pairs.  For example, in a dictionary of dog owners, one would look up the dog's name (the **key**) and get the corresponding owner's name (the **value**).  As a result, dictionaries are not ordered by nature; it doesn't matter where an item appears in the dictionary, only what the pairing is.  

Dicts are made in Python using the curly brace **{}** and colon **:**.  

```python
owners = {'Snuffles': 'Greg', 'Brownie': 'Susan', 'Tinkles': 'Jenny'}
owners['Tinkles']
>> 'Jenny'
```

**Exercises**

1. Europe has many countries, each with its own capitol city.  Make a dictionary that gives you the capitol corresponding to a country.

2. Make a dictionary of the birthday months of the people sitting next to you, so that when you look up their name it gives you the month.  Include yourself!

3. You have a list of single-character strings that represent conditions in your experiment: 'L', 'R', and 'C'.  Change those labels to 'Left', 'Right', and 'Center' in the list.

In [5]:
conditions = {'C': 'Center', 'L': 'Left', 'R': 'Right'}
conds = ['C', 'L', 'C', 'R', 'C', 'C', 'C', 'R', 'R', 'R']