# Matplotlib

In [2]:
%matplotlib inline

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
np.set_printoptions(precision = 2, suppress = True)

In [5]:
data1 = np.random.normal(10, 1, 30).reshape(10, 3)
data2 = np.random.normal(6, 1, 30).reshape(10, 3)
data = np.concatenate((data1, data2), axis = 1)
data

array([[10.23738304,  7.94302144,  9.09646494,  5.62484875,  5.28023547,
         7.45947898],
       [11.78567765, 10.41163904, 10.50372265,  6.90561545,  3.81134761,
         5.02720846],
       [10.33670124,  8.73564836, 10.80670942,  6.96652209,  8.07301673,
         6.5614075 ],
       [10.66242194,  8.92655634, 10.54922854,  6.38547971,  4.30119663,
         5.57595866],
       [ 9.93762543,  8.34160908,  9.77057747,  5.10064412,  8.69993222,
         6.49953957],
       [ 8.36505711,  9.92024932, 10.35796939,  6.81115787,  5.70722147,
         7.21372206],
       [ 9.63219892, 10.84821299, 12.40308812,  6.66897979,  5.81820732,
         6.09444834],
       [10.63407103, 11.14691462,  9.63090844,  6.49186463,  5.87979156,
         4.13337286],
       [11.12836488, 10.34884684,  8.93684316,  6.03294137,  5.78492964,
         4.40956909],
       [ 9.46827886, 10.83512804, 10.90785041,  6.73608805,  4.94407137,
         7.35267075]])

In [129]:
data.dtype

dtype('float64')

In [66]:
data.shape

(10, 6)

In [130]:
data = pd.DataFrame(data, index = list(map(lambda x: 'row' + str(x), range(len(data)))), columns = dat_colnames)
data

           con1       con2       con3      exp1      exp2      exp3
row0   9.304435   8.512214  10.558099  7.485828  4.775292  5.123031
row1   8.019750  10.535928   9.290962  4.930087  7.704344  6.711177
row2  10.219647   8.473322  10.632586  4.769121  6.016916  6.306637
row3  10.324267  10.186963   9.089183  6.245814  6.253756  5.332746
row4  10.886701   9.849331  11.506894  5.677439  6.255943  5.757715
row5  10.912557  10.328188  10.364824  4.836647  4.221938  7.193840
row6   8.749933   9.154668   9.348416  5.619612  7.696436  5.917663
row7  10.235157   9.669965   8.392399  6.586240  6.365442  6.297598
row8   9.770295   9.997945  10.172734  6.235950  6.145395  4.337272
row9   9.244254  10.778503   8.323663  4.778634  5.530832  5.380883

In [68]:
pd.DataFrame?

Init signature: pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
Docstring:
Two-dimensional size-mutable, potentially heterogeneous tabular data
structure with labeled axes (rows and columns). Arithmetic operations
align on both row and column labels. Can be thought of as a dict-like
container for Series objects. The primary pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, or list-like objects

    .. versionchanged :: 0.23.0
       If data is a dict, argument order is maintained for Python 3.6
       and later.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided
columns : Index or array-like
    Column labels to use for resulting frame. Will default to
    RangeIndex (0, 1, 2, ..., n) if no column labels are provided
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer
copy : boolean, default False
    Copy data from inputs. Only affects DataFrame / 2d ndarray input

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
DataFrame.from_items : From sequence of (key, value) pairs
    pandas.read_csv, pandas.read_table, pandas.read_clipboard.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
File:           ~/miniconda3/lib/python3.7/site-packages/pandas/core/frame.py
Type:           type
Subclasses:     SparseDataFrame, SubclassedDataFrame

In [69]:
dat_colnames = np.append(list(map(lambda x: 'con' + str(x) , range(1,4))), list(map(lambda x: 'exp' + str(x) , range(1,4))))
dat_colnames

array(['con1', 'con2', 'con3', 'exp1', 'exp2', 'exp3'], dtype='<U4')

In [70]:
data.dtype.names = dat_colnames

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [ ]:

 np.append(, list(map(lambda x: 'con2' + str(x) , range(1,4)))]

In [ ]:
list('rep' + range(1, 4))

In [ ]:
data1.reshape(5, 6)

In [ ]:
np.random.randint?